<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Monitor.Properties.Settings.domoticaConnectionString"
            connectionString="Data Source=DESKTOP-955AGH4\SQLEXPRESS;Initial Catalog=domotica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<add name="domoticaEntities" connectionString="metadata=res://*/Domotica.csdl|res://*/Domotica.ssdl|res://*/Domotica.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-955AGH4\SQLEXPRESS;initial catalog=domotica;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>